# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
venv/
.venv/

# Java
target/
*.class
*.jar
*.war

# C
build/
*.o
*.so
dataflow-engine

# Go
gateway
vendor/

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
*.log
